<!DOCTYPE html>
<html layout:decorate="~{index}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="container-fluid" role="main">
        <div class="starter-template">
            <br/><br/><br/>

            <div class="alert alert-dismissible fade show" role="alert" th:classappend="${success} ? alert-success : alert-warning"
                 th:if="${message}">
                <div th:text="${message}"></div>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <a class="btn btn-primary" href="#" id="addAmbienteButton" th:if="${ambienteList.isEmpty()}">Adicionar Objeto</a>

            <div th:if="${ambienteList.isEmpty()}"><br/><br/></div>

            <H2>Lista completa de Ambientes</H2>

            <table class="table" id="ambienteTable">
                <thead>
                <tr th:align="center">
                    <th>Versão DES</th>
                    <th>Data versão DES</th>
                    <th>Versão TQS</th>
                    <th>Data versão TQS</th>
                    <th>Versão HMP</th>
                    <th>Data versão HMP</th>
                    <th>Versão PRD</th>
                    <th>Data versão PRD</th>
                    <th>Ações</th>
                </tr>
                </thead>

                <tr th:align="center" th:each="ambiente:${ambienteList}">
                    <td th:text="${ambiente.versaoDes}"></td>
                    <td th:text="${ambiente.getDataDesFormatada()}"></td>
                    <td th:text="${ambiente.versaoTqs}"></td>
                    <td th:text="${ambiente.getDataTqsFormatada()}"></td>
                    <td th:text="${ambiente.versaoHmp}"></td>
                    <td th:text="${ambiente.getDataHmpFormatada()}"></td>
                    <td th:text="${ambiente.versaoPrd}"></td>
                    <td th:text="${ambiente.getDataPrdFormatada()}"></td>
                    <td>
                        <a class="btn btn-warning" data-toggle="tooltip" id="ambienteEditButton" th:href="@{/ambiente/findById/(id=${ambiente.id})}"
                           title="Editar"><em class="fas fa-edit"></em></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="ModalLabel" class="modal fade" id="ambienteModal" role="dialog">
        <form method="post" th:id="formAmbiente">
            <div class="modal-dialog" role="document" style="max-width: 550px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel" th:id="tituloModal"/>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" id="idEdit" name="id" type="hidden">

                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="versaoDesEdit">Versão Des:</label>
                                        <input class="form-control" id="versaoDesEdit" name="versaoDes" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="dataDesEdit">Data Versão DES:</label>
                                        <input class="form-control" id="dataDesEdit" name="dataDes" readonly type="text">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="versaoTqsEdit">Versão TQS:</label>
                                        <input class="form-control" id="versaoTqsEdit" name="versaoTqs" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="dataTqsEdit">Data Versão TQS:</label>
                                        <input class="form-control" id="dataTqsEdit" name="dataTqs" readonly type="text">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="versaoHmpEdit">Versão HMP:</label>
                                        <input class="form-control" id="versaoHmpEdit" name="versaoHmp" type="text">
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="dataHmpEdit">Data Versão HMP:</label>
                                        <input class="form-control" id="dataHmpEdit" name="dataHmp" readonly type="text">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="versaoPrdEdit">Versão PRD:</label>
                                        <input class="form-control" id="versaoPrdEdit" name="versaoPrd" type="text">
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class="col-form-label" for="dataPrdEdit">Data Versão PRD:</label>
                                        <input class="form-control" id="dataPrdEdit" name="dataPrd" readonly type="text">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">SAIR</button>
                        <button class="btn btn-primary" th:id="tituloBotaoModal" type="submit"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>