<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

<body>
<section class="layout-content" layout:fragment="corpo">
    <div role="main" class="container-fluid">
        <div class="starter-template">
            <br/><br/><br/>

            <div th:if="${message}" class="alert alert-dismissible fade show" th:classappend="${success} ? alert-success : alert-warning" role="alert">
                <div th:text="${message}"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <a th:if="${ambienteList.isEmpty()}" href="#" class="btn btn-primary" id="addAmbienteButton">Adicionar Objeto</a>

            <div th:if="${ambienteList.isEmpty()}"><br/><br/></div>

            <H2>Lista completa de Ambientes</H2>

            <table id="ambienteTable" class="table">
                <thead>
                <tr th:align="center">
                    <th>Versão DES</th>
                    <th>Data versão DES</th>
                    <th>Versão TQS</th>
                    <th>Data versão TQS</th>
                    <th>Versão HMP</th>
                    <th>Data versão HMP</th>
                    <th>Versão PRD</th>
                    <th>Data versão PRD</th>
                    <th>Ações</th>
                </tr>
                </thead>

                <tr th:align="center" th:each="ambiente:${ambienteList}">
                    <td th:text="${ambiente.versaoDes}"></td>
                    <td th:text="${ambiente.getDataDesFormatada()}"></td>
                    <td th:text="${ambiente.versaoTqs}"></td>
                    <td th:text="${ambiente.getDataTqsFormatada()}"></td>
                    <td th:text="${ambiente.versaoHmp}"></td>
                    <td th:text="${ambiente.getDataHmpFormatada()}"></td>
                    <td th:text="${ambiente.versaoPrd}"></td>
                    <td th:text="${ambiente.getDataPrdFormatada()}"></td>
                    <td>
                        <a th:href="@{/ambiente/findById/(id=${ambiente.id})}" data-toggle="tooltip" class="btn btn-warning" id="ambienteEditButton" title="Editar"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal fade" id="ambienteModal" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <form th:id="formAmbiente" method="post">
            <div class="modal-dialog" style="max-width: 550px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 th:id="tituloModal" class="modal-title" id="modalLabel"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" id="idEdit" name="id">

                        <div class="form-group">
                            <label for="versaoDesEdit" class="col-form-label">Versão Des:</label>
                            <input type="text" class="form-control" id="versaoDesEdit" name="versaoDes">
                        </div>

                        <div class="form-group">
                            <label for="dataDesEdit" class="col-form-label">Data Versão DES:</label>
                            <input type="text" class="form-control" id="dataDesEdit" name="dataDes" readonly>
                        </div>

                        <div class="form-group">
                            <label for="versaoTqsEdit" class="col-form-label">Versão TQS:</label>
                            <input type="text" class="form-control" id="versaoTqsEdit" name="versaoTqs">
                        </div>

                        <div class="form-group">
                            <label for="dataTqsEdit" class="col-form-label">Data Versão TQS:</label>
                            <input type="text" class="form-control" id="dataTqsEdit" name="dataTqs" readonly>
                        </div>

                        <div class="form-group">
                            <label for="versaoHmpEdit" class="col-form-label">Versão HMP:</label>
                            <input type="text" class="form-control" id="versaoHmpEdit" name="versaoHmp">
                        </div>

                        <div class="form-group">
                            <label for="dataHmpEdit" class="col-form-label">Data Versão HMP:</label>
                            <input type="text" class="form-control" id="dataHmpEdit" name="dataHmp" readonly>
                        </div>

                        <div class="form-group">
                            <label for="versaoPrdEdit" class="col-form-label">Versão HMP:</label>
                            <input type="text" class="form-control" id="versaoPrdEdit" name="versaoPrd">
                        </div>

                        <div class="form-group">
                            <label for="dataPrdEdit" class="col-form-label">Data Versão PRD:</label>
                            <input type="text" class="form-control" id="dataPrdEdit" name="dataPrd" readonly>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">SAIR</button>
                        <button th:id="tituloBotaoModal" type="submit" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>