<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto" th:if="${ambiente}">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${ambiente == 'home' ? 'active' : ''}" href="/listaSp">Lista completa de Objetos |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${ambiente == 'desTqs' ? 'active' : ''}" href="/listaDesTqs">Lista de Objetos para ir a TQS |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${ambiente == 'tqsHmp' ? 'active' : ''}" href="/listaTqsHmp">Lista de Objetos para ir a HMP |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${ambiente == 'hmpPrd' ? 'active' : ''}" href="/listaHmpPrd">Lista de Objetos para ir a PRD</a>
            </li>
        </ul>
        <div style="color:#FFFFFF" class="nav-item active">
            <h5 th:text="${ambiente} ? 'Controle de Objetos - SIRFG' : 'Controle de Ambientes - SIRFG'"></h5>
        </div>
    </div>
</nav>
<div th:if="${versaoCadastrada}">
    <br/><br/><br/>

    <table class="table table-borderless">
        <tr class="table-info" th:align="center">
            <td><h5 th:text="${versaoDes}"></h5></td>
            <td><h5 th:text="${versaoTqs}"></h5></td>
            <td><h5 th:text="${versaoHmp}"></h5></td>
            <td><h5 th:text="${versaoPrd}"></h5></td>
        </tr>
    </table>

    <hr/>
</div>
</body>
</html>