<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="cabecalho">
    <nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/listaSp">Lista completa de SPs |</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/listaDesTqs">Lista de SPs para ir a TQS |</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/listaTqsHmp">Lista de SPs para ir a HMP |</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/listaHmpPrd">Lista de SPs para ir a PRD</a>
                </li>
            </ul>
            <div style="color:#FFFFFF" class="nav-item active">
                <h5>Controle de SPs - SIRFG</span></h5>
            </div>
        </div>
    </nav>
</header>
</body>
</html>