<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Controle de Objetos - SIRFG</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{webjars/datatables/1.10.20/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{webjars/datatables/1.10.20/css/dataTables.bootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap-daterangepicker/3.0.5/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{fontawesome/css/all.min.css}"/>
</head>

<body>
<div th:insert="cabecalho/cabecalho"/>

<section layout:fragment="corpo"/>
</body>

<script th:src="@{webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
<script th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.bundle.js}" type="text/javascript"></script>
<script th:src="@{js/validator.js}" type="text/javascript"></script>
<script th:src="@{webjars/datatables/1.10.20/js/jquery.dataTables.js}" type="text/javascript"></script>
<script th:src="@{webjars/datatables/1.10.20/js/dataTables.bootstrap4.js}" type="text/javascript"></script>
<script th:src="@{webjars/moment/2.25.3/moment.js}" type="text/javascript"></script>
<script th:src="@{webjars/bootstrap-daterangepicker/3.0.5/daterangepicker.js}" type="text/javascript"></script>
<script th:src="@{js/main.js}" type="text/javascript"></script>
</html>