<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Controle de Objetos - SIRFG</title>
    <meta charset="UTF-8"/>

    <link th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{webjars/datatables/1.10.20/css/jquery.dataTables.css}" rel="stylesheet"/>
    <link th:href="@{webjars/datatables/1.10.20/css/dataTables.bootstrap4.css}" rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap-daterangepicker/3.0.5/daterangepicker.css}" rel="stylesheet"/>
    <link th:href="@{fontawesome/css/all.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:insert="cabecalho/cabecalho"/>

<section layout:fragment="corpo"/>
</body>

<script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{js/validator.js}"></script>
<script type="text/javascript" th:src="@{webjars/datatables/1.10.20/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{webjars/datatables/1.10.20/js/dataTables.bootstrap4.js}"></script>
<script type="text/javascript" th:src="@{webjars/moment/2.25.3/moment.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap-daterangepicker/3.0.5/daterangepicker.js}"></script>
<script type="text/javascript" th:src="@{js/main.js}"></script>
</html>