<!DOCTYPE html>
<html layout:decorate="~{index}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="container-fluid" role="main">
        <div class="starter-template">
            <br/><br/><br/>

            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
                <div th:text="${message}"/>

                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <h2>
                <div th:text="${titulo}"/>
            </h2>

            <div th:if="${!sps.empty}">
                <button class="btn btn-warning" data-target="#spNotaModal" data-toggle="modal" th:if="${ambiente == 'tqsHmp' or ambiente == 'hmpPrd'}"
                        type="button">Listar Objetos para Nota de Release
                </button>
            </div>

            <br/><br/>

            <table class="display" id="mainTable">
                <thead>
                <tr th:align="center">
                    <th>Id</th>

                    <th>Nome</th>

                    <th>Tipo</th>

                    <th th:text="${coluna1}"/>

                    <th th:text="${coluna2}"/>

                    <th>Ações</th>
                </tr>
                </thead>

                <tr th:align="center" th:each="sp:${sps}">
                    <td th:text="${sp.id}"/>

                    <td th:text="${sp.nome}"/>

                    <td th:text="${sp.tipoObjeto.descricaoObjeto}"/>

                    <td th:text="${sp.getDataFormatada(valorColuna1)}"/>

                    <td th:text="${sp.getDataFormatada(valorColuna2)}"/>

                    <td>
                        <a class="btn btn-primary" data-toggle="tooltip" id="equalizarButton" th:href="@{/findById(id=${sp.id})}" title="Equalizar">
                            <em class="fas fa-share-square"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="spNotaModalLabel" class="modal fade" id="spNotaModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Objetos para adicionar na Nota de Release</h5>

                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <table class="table table-striped" id="spNotaTable" th:if="${spsNr != null and !spsNr.empty}">
                        <thead>
                        <tr>
                            <th>SPs</th>
                        </tr>
                        </thead>

                        <tr th:each="sp:${spsNr}">
                            <td th:text="${sp.nome}"/>
                        </tr>
                    </table>

                    <table class="table table-striped" id="spCargaNotaTable" th:if="${spsCargaNr != null and !spsCargaNr.empty}">
                        <thead>
                        <tr>
                            <th>SPs de Carga</th>
                        </tr>
                        </thead>

                        <tr th:each="sp:${spsCargaNr}">
                            <td th:text="${sp.nome}"/>
                        </tr>
                    </table>

                    <table class="table table-striped" id="bindNotaTable" th:if="${bindNr != null and !bindNr.empty}">
                        <thead>
                        <tr>
                            <th>BIND</th>
                        </tr>
                        </thead>

                        <tr th:each="sp:${bindNr}">
                            <td th:text="${sp.nome}"/>
                        </tr>
                    </table>

                    <table class="table table-striped" id="cobolNotaTable" th:if="${cobolNr != null and !cobolNr.empty}">
                        <thead>
                        <tr>
                            <th>COBOL</th>
                        </tr>
                        </thead>

                        <tr th:each="sp:${cobolNr}">
                            <td th:text="${sp.nome}"/>
                        </tr>
                    </table>

                    <table class="table table-striped" id="jclNotaTable" th:if="${jclNr != null and !jclNr.empty}">
                        <thead>
                        <tr>
                            <th>JCL</th>
                        </tr>
                        </thead>

                        <tr th:each="sp:${jclNr}">
                            <td th:text="${sp.nome}"/>
                        </tr>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">SAIR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="equalizarModal" role="dialog">
        <form method="post" th:action="${actionEqualizar}" th:id="formObj">
            <input id="idEqualizar" name="id" type="hidden"/>

            <input id="nomeEqualizar" name="nome" type="hidden"/>

            <input id="tipoObjetoEqualizar" name="tipoObjeto" type="hidden"/>

            <input id="dataDesEqualizar" name="dataDes" type="hidden"/>

            <input id="dataTqsEqualizar" name="dataTqs" type="hidden"/>

            <input id="dataHmpEqualizar" name="dataHmp" type="hidden"/>

            <input id="dataPrdEqualizar" name="dataPrd" type="hidden"/>

            <input id="observacaoEqualizar" name="observacao" type="hidden"/>

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Equalizar Objeto</h5>

                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p th:align="center">Deseja equalizar o Objeto <span id="nomeSpEqualizar"></span>?</p>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">FECHAR</button>

                        <button class="btn btn-primary" type="submit">EQUALIZAR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>