<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

<body>
<section class="layout-content" layout:fragment="corpo">
    <div role="main" class="container-fluid">
        <div class="starter-template">
            <div th:if="${!versaoCadastrada}"><br/><br/><br/></div>

            <div th:if="${message}" class="alert alert-dismissible fade show" th:classappend="${success} ? alert-success : alert-warning" role="alert">
                <div th:text="${message}"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <a href="#" class="btn btn-primary" id="addSpButton">Adicionar Objeto</a>

            <br/><br/><H2>Lista completa de Objetos</H2>

            <table id="mainTable" class="display">
                <thead>
                <tr th:align="center">
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Data versão DES</th>
                    <th>Data versão TQS</th>
                    <th>Data versão HMP</th>
                    <th>Data versão PRD</th>
                    <th>Ações</th>
                </tr>
                </thead>

                <tr th:align="center" th:each="sp:${sps}">
                    <td th:text="${sp.id}"></td>
                    <td th:text="${sp.nome}"></td>
                    <td th:text="${sp.tipoObjeto.descricaoObjeto}"></td>
                    <td th:text="${sp.dataDesFormatada}"></td>
                    <td th:text="${sp.dataTqsFormatada}"></td>
                    <td th:text="${sp.dataHmpFormatada}"></td>
                    <td th:text="${sp.dataPrdFormatada}"></td>
                    <td>
                        <a th:href="@{/findById/(id=${sp.id})}" data-toggle="tooltip" class="btn btn-warning" id="editButton" title="Editar"><i class="fas fa-edit"></i></a>
                        <a th:href="@{/findById/(id=${sp.id})}" data-toggle="tooltip" class="btn btn-danger" id="deleteButton" title="Excluir"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modalObj" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
         data-toggle="validator">
        <form th:id="formObj" method="post">
            <div class="modal-dialog" style="max-width: 550px;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 th:id="tituloModal" class="modal-title" id="modalLabel"/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" id="id" name="id">

                        <div class="form-group">
                            <label for="nome" class="col-form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome" maxlength="8" required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Tipo de Objeto:</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoObjeto" id="SP" value="SP" required>
                                <label class="form-check-label" for="SP">SP</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoObjeto" id="SP_CARGA" value="SP_CARGA">
                                <label class="form-check-label" for="SP_CARGA">SP de Carga</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoObjeto" id="BIND" value="BIND">
                                <label class="form-check-label" for="BIND">BIND</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoObjeto" id="COBOL" value="COBOL">
                                <label class="form-check-label" for="COBOL">COBOL</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipoObjeto" id="JCL" value="JCL">
                                <label class="form-check-label" for="JCL">JCL</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dataDes" class="col-form-label">Data Versão DES:</label>
                            <input type="text" class="form-control" id="dataDes" name="dataDes" readonly required>
                        </div>

                        <div class="form-group">
                            <label for="dataTqs" class="col-form-label">Data Versão TQS:</label>
                            <input type="text" class="form-control" id="dataTqs" name="dataTqs" readonly>
                        </div>

                        <div class="form-group">
                            <label for="dataHmp" class="col-form-label">Data Versão HMP:</label>
                            <input type="text" class="form-control" id="dataHmp" name="dataHmp" readonly>
                        </div>

                        <div class="form-group">
                            <label for="dataPrd" class="col-form-label">Data Versão PRD:</label>
                            <input type="text" class="form-control" id="dataPrd" name="dataPrd" readonly>
                        </div>

                        <div class="form-group">
                            <label for="observacao" class="col-form-label">Observações:</label>
                            <textarea rows="4" class="form-control" id="observacao" name="observacao"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">SAIR</button>
                        <button th:id="tituloBotaoModal" type="submit" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <form th:action="@{/excluir}" method="post">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir Objeto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p th:align="center">Deseja excluir o Objeto <span id="nomeSpExcluir"></span>?</p>
                    </div>

                    <input type="hidden" class="form-control" id="idDelete" name="id">
                    <input type="hidden" class="form-control" id="nomeDelete" name="nome">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">SAIR</button>
                        <button type="submit" class="btn btn-primary">EXCLUIR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>